<%= render "shared/items_header" %>

<div class="item-page-inform"><%= "#{@nickname}さんのアイテム"%></div>

    <div class="main-box">
      <div class="left-box">
      <div class="user-profile-box">
        <div class="user-profile-image-name">
          <div class="user-profile-image"><%= image_tag @user.image.variant(resize: '70x70'), class: "post-user-img" if @user.image.attached? %></div>
           <div class="user-name-info">
            <div class="user-name-info-text">ユーザー名</div>
            <p class="user-profile-name"><%= @user.nickname %></p>
           </div>
        </div>
        <div class="user-profile-info-text">プロフィール</div>
        <div class="user-profile-text"><%= @user.profile %></div>
      </div>
    <div class="user-details">
      <div class="user_show-action"><%= link_to "#{@nickname}さんの投稿を見る",   user_path %></div>
      <div class="user_show-action"><%= link_to "#{@nickname}さんのアイテムを見る",  item_user_path %></div>
    </div>
    
  </div>

  <div class="center-box">
    <div class="list-posts">
        <% @items.each do |item| %>
        <div class="post-index">
          <div class="post-user-nickname">
            <%= link_to user_path(item.user_id) do %>
              <%= image_tag item.user.image.variant(resize: '30x30'), class: "post-user-img" if item.user.image.attached? %>
              <%= item.user.nickname %>
               <% end %>
            </div>
              <%= link_to "#{item_path(item.id)}" do %>
                <div class="post-text-created-at">
                  <div class="item-name"><%= item.name%></div>
                </div>
                     <div class="item-review-star-rating">
                         <% if item.reviews.present? %>
                       <div class="item-review-star-front" style="width: <%= item.review_score_percentage %>%">★★★★★</div>
                       <div class="item-review-star-back">★★★★★</div>
                         <% end %>
                     </div>
                      <div class="item-review-score-average-count"><%= item.avg_score %>点(<%= item.reviews.count %>件のレビュー)</div>
              <div class="post-image">
              <%= image_tag item.image.variant(resize: '550x500'), class: "post-img" if item.image.attached? %>
             
            </div>
             <div class="item-text-index"><%= item.text %></div>
          <% end %>

  <div class="action-menu">
   <% if user_signed_in? %>
    <% if current_user.id == item.user_id %>
    <div class="action-edit"></div>
      <div class="action-destroy"><%= link_to '削除', item_path(item.id), method: :delete, class:'post-destroy' %></div>
      <% end %>
    <% end %>
   </div>
  </div>
   <% end %>
</div>
</div>

<div class="right-box">
  <div class="user-profile">
  <% if user_signed_in?%>
  
  <div class="user-profile-menu">
    <%= image_tag current_user.image.variant(resize: '70x70'), class: "user-img" if current_user.image.attached? %>
      <%= link_to current_user.nickname, user_path(current_user.id),method: :get, class: "user-nickname" %>
        <ul class="user-menu">
              <li>
                <p class="user-menu-edit-user"><%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id),method: :get %></p>
                <p class="user-menu-item-new"><%= link_to "アイテムを投稿する",  new_item_path %></p>
                <p class="user-menu-items"><%= link_to "投稿を見る",  user_path(current_user.id) %></p>
                <p class="user-menu-items"><%= link_to "アイテムを見る",item_user_path(current_user.id) %></p>
              </li>
            </ul>
          </div>
         <% end %>
        </div>
      <div class="measurement"></div>
    </div>
  </div>

<div class="back-home"><%= link_to 'もどる', root_path, class:"back-btn" %></div>