<%= render "shared/items_header" %>

<div class="main-box">
  <div id='target_id'></div>
  <%= render "shared/left_box" %>
  
  <div class="center-box">
    <div class="item-page-inform">
      <%= "#{@nickname}さんのアイテム"%>
    </div>
    <%= render "shared/list_items" %>
  </div>
  <%= render "shared/right_box" %>
</div>

<%= render "shared/home" %>