<%= render "shared/posts_header" %>

<div class="main-box">
  <div id='target_id'></div>
  <%= render "shared/left_box" %>

  <div class="center-box">
    <div class="my-page-top-following"><%= "#{@nickname}さんのフォロー" %></div>
    <%= render "shared/list_follow" %>
  </div>
  <%= render "shared/right_box" %>
</div>

<%= render "shared/home" %>