<header>
  <div class="top-main-box">
    <div class="top-main-parent">
      <%= link_to "like-bike", root_path,method: :get, class:"header-logo-mark" %>
      <%= link_to "投稿一覧", posts_path,method: :get, class: "posts-lists" %>
      <%= link_to "アイテム一覧", items_path, class:"items-lists" %>
      <div class="seach-form-box">
        <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form-content") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
        <% if user_signed_in? %>
          <%= link_to "新規投稿", new_post_path,method: :get,class:"posts-new-action" %>
          <%= link_to "アイテムを投稿", new_item_path, class:"items-new-action",data: {"turbolinks"=>false} %>
          <%=link_to "ログアウト",  destroy_user_session_path,method: :delete, class: "user-action-logout" %>
        <% else %>
           <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post,class:"btn-header-guest-login" %>
           <%= link_to "ログイン", new_user_session_path, class: "user-action-login" %>
           <%= link_to "ユーザー登録", new_user_registration_path,method: :get, class: "user-action-new" %>
        <% end %>
    </div>
  </div>
</header>