<div class="item-page-inform">アイテム一覧</div>
<div class="main-box">
  <div class="left-box">
    <div class="map"><%= link_to "アイテム一覧", items_path %></div>
  </div>

  <div class="center-box">center-box
    <div class="list-posts">post-index
        <% @items.each do |item| %>
        <div class="post-index">
          <div class="post-user-nickname">
            <%= link_to user_path(item.user_id) do %>
              <%= image_tag item.user.image.variant(resize: '30x30'), class: "post-user-img" if item.user.image.attached? %>
              <%= item.user.nickname %>
               <% end %>
            </div>
              <%= link_to "#{item_path(item.id)}" do %>
                <div class="post-text-created-at">
                  <div class="item-name"><%= item.name%></div>
                </div>
                     <div class="item-review-star-rating">
                         <% if item.reviews.present? %>
                       <div class="item-review-star-front" style="width: <%= item.review_score_percentage %>%">★★★★★</div>
                       <div class="item-review-star-back">★★★★★</div>
                         <% end %>
                     </div>
                      <div class="item-review-score-average-count"><%= item.avg_score %>点(<%= item.reviews.count %>件のレビュー)</div>
              <div class="post-image">
              <%= image_tag item.image.variant(resize: '550x500'), class: "post-img" if item.image.attached? %>
             
            </div>
             <div class="item-text-index"><%= item.text %></div>
          <% end %>

  <div class="action-menu">action-menu
   
   <% if user_signed_in? %>
   <% if current_user.id == item.user_id %>
   <div class="action-edit"><%# link_to "編集",edit_post_path(post.id),method: :get, class: "post-edit"  %></div>
   <div class="action-destroy"><%# link_to '削除', post_path(post.id), method: :delete, class:'post-destroy' %></div>
   <% end %>
   <% end %>
   </div>
   </div>
   <% end %>
  </div>
</div>

<div class="right-box">
  <div class="user-profile">
  <% if user_signed_in?%>
  
  <div class="user-profile-menu">
<%= image_tag current_user.image.variant(resize: '70x70'), class: "user-img" if current_user.image.attached? %>
  <%= link_to current_user.nickname, user_path(current_user.id),method: :get, class: "user-nickname" %>
  <ul class="user-menu">
  <li>
  <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id),method: :get %>
  <%= link_to "アイテムを投稿する",  new_item_path %>
   <%= link_to "アイテム一覧",  items_path %>
  </li>
  </ul>
  </div>
  <% end %>
  </div>
    <div class="measurement">計測</div>
</div>
</div>
<div class="back-home"><%= link_to 'もどる', root_path, class:"back-btn" %></div>