<%= render "shared/items_header" %>

<div class="main-box">
  <div id='items_id'></div>
  <div class="left-box"></div>

  <div class="center-box">
    <div class="contents-row">
      <p class="seacrh-results">
        <%= "#{params[:keyword]}の検索結果"%>
      </p>
    </div>
    <div class="item-page-inform">アイテム一覧</div>
    <%= render "shared/list_items" %>
  </div>
  <%= render "shared/right_box" %>
</div>
<%= link_to items_path do %>
  <p class="back-home-btn">
    <i class="fas fa-arrow-left"></i>
    アイテム一覧に戻る
  </p>
<% end %>
