<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>

<%= render "shared/items_header" %>

<div class="new-item-box">
  <%= render "shared/home" %>
  <div class="new-item-form">
    <%= form_with model: @item, url:  items_path,  local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="item-text-box">
        <div class="comment-sentence">名前</div>
        <div class="item-comment-note">必須</div>
      </div>
        <%= f.text_area :name, class: "name-box", placeholder:"※最大40字まで", maxlength:"40",rows: "3" %>
      

      <div class="item-text-box">
        <div class="comment-sentence">コメント</div>
        <div class="item-comment-note-any">任意</div>
      </div>
        <%= f.text_area :text, class: "text-content", placeholder:"※最大150字まで", maxlength:"150" %>
      
      <div class="item-text-box">
      
        
        <i class="fas fa-camera fa-2x"></i>
        <div class="comment-sentence">画像</div>
        <div class="item-comment-note">必須</div>
        </div>
    
      
      <div class="click-upload">
        <p class="comment-sentence">クリックしてファイルをアップロード</p>
        <%= f.file_field :image, class: "item-image" %>
      </div>
      <p>タグをつける</p>
      <div><%= f.text_area :word,class: "tag-form", id:'tag-field', placeholder:"最大40字まで",rows:"2",maxlength:"40" %>
        <div id="search-result"></div>
      </div>
      <%= f.submit "投稿する",class: "post-btn" %>
    <% end %>
  </div>
  <%= link_to items_path do %>
    <p class="back-home-btn">
      <i class="fas fa-arrow-left"></i>
      アイテム一覧に戻る
    </p>
  <% end %>
</div>

