<%= render "shared/items_header" %>

<div class="item-show-box">
  <div class="show-item-content">
    <%= render "shared/home" %>
    <div class="show-user-name"><%= link_to @item.user.nickname,item_user_path(@item.user_id),class:"show-user-nickname" %></div>
    <div class="show-post-text-created-at">
      <div class="show-item-name"><%= @item.name %></div>
      <div class="show-post-text"><%= @item.text %></div>
      <div class="show-post-created-at"><%= l @item.created_at %></div>
      <% @item.tags.each do |tag| %>
        <div class="show-item-tag-word"><%= tag.word %></div>
      <% end %>  
    </div>
  </div>
  <div class="review-text-box">アイテムの評価
    <div class="star-rating-parent">
      <% if @item.reviews.present? %>
        <div class="star-rating-front" style="width: <%= @item.review_score_percentage %>%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
      <% end %>
    </div>
    <div class="review-score-average-count"><%= @item.avg_score %>点(<%= @item.reviews.count %>件のレビュー)</div>
  </div>
  
  <div class="show-item-image"><%= image_tag @item.image.variant(resize: '700x700'), class: "show-image" if @item.image.attached? %></div>
           
  <div class="show-action-item-menu">
    <% if user_signed_in? %>
      <% if current_user.id == @item.user_id %>
        <div class=""><%= link_to "編集", edit_item_path(@item) %></div>
        <div class="show-action-item-destroy">
          <%= link_to item_path(@item.id), method: :delete ,class:"show-action-item-destroy" do %>
            <i class="far fa-trash-alt"></i>
            削除
          <% end %>
        </div>
      <% end %>
     <% end %>
  </div>

  <%= link_to items_path do %>
    <p class="back-home-btn">
      <i class="fas fa-arrow-left"></i>
      アイテム一覧に戻る
    </p>
  <% end %>

  <%= render "reviews/form", review: @review, item: @item %>

  <div class="review-list-box">
      <i class="far fa-comment-dots"></i>
      <h4 class="review-list">レビューの一覧</h4>
  </div>

  <div class="reviews-box">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class="reviews-index">
          <div class="review-rating-user-nickname">
            <div class="review-ratign-star"><span class="review-rating-star">★</span><%= review.rating %></div>
            <%= link_to item_user_path(review.user_id) do %>
              <div class="review-user-nickname"><%= review.user.nickname %></div>
            <% end %>
          </div>
          <div class="review-item-text"><%= review.text %></div>
          <% if user_signed_in? %>
            <% if current_user.id == review.user_id %>
              <div class="reviews-destroy-action">
                <%= link_to item_review_path(review.item.id, review.id),method: :delete,class:"reviews-destroy-action" do %>
                  <i class="fas fa-trash-alt"></i>
                  レビューを削除
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to items_path do %>
    <p class="back-home-btn">
      <i class="fas fa-arrow-left"></i>
      アイテム一覧に戻る
    </p>
  <% end %>
</div>