<div class="main-box">
  <div id='target_id'></div>
  <div class="left-box"></div>

  <div class="center-box">
    <div class="post-page-inform">投稿一覧</div>
      <div class="list-posts">
        <% @posts.each do |post| %>
        <div class="post-index">
          <%= link_to user_path(post.user_id) do %>
           <div class="post-user-nickname-image">
            <%= image_tag post.user.image.variant(resize: '50x40'), class: "post-user-img" if post.user.image.attached? %>
            <div class="post-user-nickname"><%= post.user.nickname %></div>
            </div>
            <% end %>
            <%= link_to "#{post_path(post.id)}" do %>
            <div class="post-text-created-at">
              <div class="post-text"><%= post.text %></div>
              <div class="post-created-at"><%= l post.created_at %></div>
            </div>
            <div class="post-image">
              <%= image_tag post.image.variant(resize: '550x500'), class: "post-img" if post.image.attached? %>
            </div>
          <% end %>
              <div class="action-menu">
                <% if user_signed_in? %>
                  <div id="like-of-<%= post.id %>">
                    <%= render partial: "likes/favorite", locals: { post: post } %>
                  </div>
                <% if current_user.id == post.user_id %>
                <div class="action-edit">
                  <%= link_to edit_post_path(post.id),method: :get do%>
                    <i class="far fa-edit"></i>
                    <%= "編集" %>
                  <% end %>
                </div>
                <div class="action-destroy">
                  <%= link_to  post_path(post.id), method: :delete do%>
                    <i class="far fa-trash-alt"></i>
                    <%= "削除" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
           </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right-box">
    <div class="user-profile">
      <% if user_signed_in?%>
  
        <div class="user-profile-menu">
          <%= image_tag current_user.image.variant(resize: '70x70'), class: "user-img" if current_user.image.attached? %>
          <%= link_to current_user.nickname, user_path(current_user.id),method: :get, class: "user-nickname" %>
            <ul class="user-menu">
              <li>
                <div class="following-follower">
                  <div class="current-user-following"><%= link_to "フォロー(#{current_user.followings.count})", following_user_path(current_user), class: "nav-link" %></div>
                  <div class="current-user-follower"><%= link_to "フォロワー(#{current_user.followers.count})", followers_user_path(current_user), class: "nav-link" %></div>
                </div>

                  
                    <%= link_to edit_user_registration_path(current_user.id),method: :get do %>
                      <div class="user-menu-edit-user">
                        <i class="fas fa-user-edit"></i>
                        <div class="user-menu-profile">プロフィールを編集</div>
                      </div>
                    <% end %>
                  

                <p class="user-menu-item-new"><%= link_to "アイテムを投稿する",  new_item_path %></p>
                <p class="user-menu-items"><%= link_to "投稿を見る",  user_path(current_user.id) %></p>
                <p class="user-menu-items"><%= link_to "アイテムを見る",item_user_path(current_user.id) %></p>
              </li>
            </ul>
        </div>
        <% end %>
     </div>
    <div class="measurement">
    <a href='#target_id'><i class="fas fa-angle-up fa-3x"></i></a>
    </div>
  </div>

</div>