<div class="main-box">

<div class="reft-box">
<div class="map">map</div>
</div>

<div class="center-box">center-box
  <div class="list-posts">post-index
  <% @posts.each do |post| %>
  <div class="post-index">
  <div class="post-user-nickname">
  <%= link_to user_path(post.user_id) do %>
    <%= image_tag post.user.image.variant(resize: '30x30'), class: "post-user-img" if post.user.image.attached? %>
   <%= post.user.nickname %>
    <% end %>
   </div>
   <%= link_to "#{post_path(post.id)}" do %>
   <div class="post-text-created-at">
   <div class="post-text"><%= post.text %></div>
   <div class="post-created-at"><%= post.created_at %></div>
   </div>
   <div class="post-image">
   <%= image_tag post.image.variant(resize: '550x500'), class: "post-img" if post.image.attached? %>
   </div>
   <% end %>
   <div class="action-menu">action-menu
   
   <% if user_signed_in? %>
   <% if current_user.id == post.user_id %>
   <div class="action-edit"><%= link_to "編集",edit_post_path(post.id),method: :get, class: "post-edit"  %></div>
   <div class="action-destroy"><%= link_to '削除', post_path(post.id), method: :delete, class:'post-destroy' %></div>
   <% end %>
   <% end %>
   </div>
   </div>
   <% end %>
  </div>
</div>

<div class="right-box">
  <div class="user-profile">
  <% if user_signed_in?%>
  
  <div class="user-profile-menu">
<%= image_tag current_user.image.variant(resize: '70x70'), class: "user-img" if current_user.image.attached? %>
  <%= link_to current_user.nickname, user_path(current_user.id),method: :get, class: "user-nickname" %>
  <ul class="user-menu">
  <li>
  <%= link_to "プロフィールを編集", edit_user_registration_path(current_user.id),method: :get %>
  <%= link_to "アイテムを投稿する",  new_item_path %>

  </li>
  </ul>
  </div>
  <% end %>
  </div>
    <div class="measurement">計測</div>
</div>

</div>
<%= render "shared/footer" %>