<%= render "shared/posts_header" %>

<div class="edit-content">
  <%= render "shared/home" %>
  <div class="edit-form">
    <%= form_with model: @post, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <div class="text-box">
        <p class="comment-sentence">コメント</P>
        <%= f.text_area :text, class: "text-content", placeholder:"※最大150字まで", maxlength:"150" %>
      </div>

      <div class="click-upload">
        <div class="img-upload">
          <i class="fas fa-camera fa-2x"></i>
          <div class="img-text">画像</div>
        </div>
        <p class="comment-sentence">クリックしてファイルをアップロード</p>
        <%= f.file_field :image, class: "item-image" %>
      </div>
      <%= f.submit "変更する" ,class:"update-btn" %>
    <% end %>
  </div>
</div>
