<%= render "shared/posts_header" %>

<div class="main-box">
  <div id='target_id'></div>
  <div class="left-box"></div>

  <div class="center-box">
    <div class="contents-row">
      <p class="seacrh-results"><%= "#{params[:keyword]}の検索結果"%></p>
    </div>
    <div class="post-page-inform">投稿一覧</div>
    <%= render "shared/list_posts" %>
  </div>
  <%= render "shared/right_box" %>
</div>
<%= render "shared/home" %>