<%= render "shared/posts_header" %>

<div class="show-box">
  <div class="show-content">
    <%= link_to root_path do %>
      <p class="back-home-btn">
        <i class="fas fa-home"></i>
        HOME
      </p>
    <% end %>
    <div class="show-user-name"><%= link_to @post.user.nickname,user_path(@post.user_id),class:"show-user-nickname" %></div>
    <div class="show-post-text-created-at">
      <div class="show-post-text"><%= @post.text %></div>
      <div class="show-post-created-at"><%= l @post.created_at %></div>
    </div>
  </div>
  <div class="show-post-image"><%= image_tag @post.image.variant(resize: '700x700'), class: "show-image" if @post.image.attached? %></div>

  <div class="show-action-menu">
    <div id="like-of-<%= @post.id %>">
      <%= render partial: "likes/like", locals: { post: @post } %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= link_to edit_post_path(@post.id),method: :get do %>
          <div class="show-action-edit-btn">
            <i class="far fa-edit"></i>
            編集
          </div>
        <% end %>
        <%= link_to post_path(@post.id), method: :delete do %>
          <div class="show-action-destroy">
            <i class="fas fa-trash-alt"></i>
            削除
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <% if user_signed_in? %>
    <div class="show-action-comment">
      <div class="comment-text-info">
        <i class="far fa-comment fa-lg"></i>
        コメントを送る
      </div>
        <%= form_with(model: [@post,@comment], local: true) do |f| %> 
          <%= render 'shared/error_messages', model: f.object %>
          <%= f.text_area :text, class: "comment-area",placeholder: "(最大150字)", rows: "5", maxlength:"150" %>
            <div class="img-upload">
              <i class="fas fa-camera fa-2x"></i>
              <div class="img-text">画像</div>
            </div>
          <div class="click-upload">
            <p class="comment-sentence">クリックしてファイルをアップロード</p>
            <%= f.file_field :image, class: "item-image" %>
          </div>    
          <%= f.submit "コメントをする",class:"comment-send" %>
        <% end %>
    </div>
  <% end %>

  <div class="show-commnet-lists">
    <i class="far fa-comment-dots"></i>
    <h4 class="comments-list">コメント一覧</h4>
  </div>

  <div class="comment-index">
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <div class="comment-box">
          <%= link_to "/users/#{comment.user_id}" do %>
            <div class="comment-image-nickname">
              <div class="comment-user-image"><%= image_tag comment.user.image.variant(resize: '30x30'),class: "comment-image" if comment.user.image.attached? %></div>
              <div class="comment-user-nickname"><%= comment.user.nickname %></div>
            </div>
          <% end %>
          <div class="comment-created-at"><%= l comment.created_at %></div>
          <div class="comment-text"><%= comment.text %></div>
          <div class="image-text-align"><%= image_tag comment.image.variant(resize: '300x300'), class: "comment-image" if comment.image.attached? %></div>
          <% if user_signed_in? %>
            <% if current_user.id == comment.user.id %>
              <div class="comment-destroy">
                <%= link_to  post_comment_path(comment.post.id, comment.id),method: :delete,class:"comment-destroy-btn" do %>
                  <i class="fas fa-trash-alt"></i>
                  削除する
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end%>
  </div> 
  <%= link_to root_path do %>
    <p class="back-home-btn">
      <i class="fas fa-arrow-left"></i>
      戻る
    </p>
  <% end %>
</div>