<!DOCTYPE html>
<html>
  <head>
    <title>LikeBike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/1c1585fa9e.js" crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <div
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>
  >
<header>
</header>
    <%= yield %>
    </div>
     <footer class="top-page-footer">© 2020 LIKE-BIKE</footer>
  </body>
</html>
